/* @import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-size: 1.2rem; */
  min-height: 100%;
}

.footer {
  grid-area: footer;
}

/* select:required:invalid {
  color: #ffff;
} */


/* @media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header" 100px
      "navbar" 50px
      "main" auto
      "footer" 100px /
      auto;
  }
} */

/* @media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  heade" 100px
      "nav  nav" 100px
      "main  main" auto
      "footer  footer" 100px /
      auto;
  }
} */
